<div class="container">

    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div class="row spacer">
            <div class="col-4">EmailID</div>
            <div class="col-4"><input class="form-control" formControlName="EmailId" type="text" /></div>
        </div>
        <div class="row spacer">
            <div class="col-4">Password</div>
            <div class="col-4"><input class="form-control" formControlName="Password" type="password" /></div>
        </div>
        <div class="row spacer">
            <div class="col-12">
                <button type="submit" class="btn btn-block btn-outline-warning"
                    [disabled]="profileForm.invalid">Login</button>
            </div>
        </div>
    </form>
</div>